<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template.html}">
<head>
<title>Film registration</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>Film registration</h1>
		<form method="POST">
			<div>
				<label for="name">Name:</label>
				<input id="name" name="name">
				<br />
			</div>

			<div>
				<label for="length">Length:</label>
				<input id="length" name="length">
				<br />
			</div>

			<div>
				<label for="genre">Genre:</label>
				<input id="genre" name="genre">
				<br />
			</div>

			<div>
				<label for="year">Year:</label>
				<input id="year" name="year">
				<br />
			</div>

			<input type="submit"value="SUBMIT">
		</form>
	</div>
</body>
</html>