<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template.html}">
<head>
<title>Film listing</title>
</head>
<body>

	<div layout:fragment="content">
		<h1>Film listing</h1>
		<a href="/films/form">New</a>
		<br/>
		<table>
			<thead>
				<tr>
					<th>NAME</th>
					<th>LENGTH</th>
					<th>GENRE</th>
					<th>YEAR</th>
					<th>ACTIONS</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="film : ${list}">
					<td th:text="${film.name}"></td>
					<td th:text="${film.length}"></td>
					<td th:text="${film.genre}"></td>
					<td th:text="${film.year}"></td>
					<td>
						<a th:href="@{/films/form?id={id}(id=${film.id})}">Update</a>
					
						<form action="/films" method="post">
							<input type="hidden" name="_method" value="delete">
							<input type="hidden" name="id" th:value="${film.id}">
							<input type="submit" value="Delete">
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>